.Works {
  color: white;
  flex-grow: 1;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}

.Works .shade {
  width: 100%;
  padding: 20px 0;
  background-color: rgba( 99, 99, 99, 0.375 );
}

.Works .js-course {
  animation: softFadeIn 700ms;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
  background-color: rgba(210, 210, 230, 0.96875);
  border-radius: 8px;
  border: 2px solid rgb(230, 230, 250);

  color: black;

  width: 80%;
  margin: 20px auto;
  padding: 8px 0;
}

.Works .js-course:first-child {
  margin-top: 0;
}

.Works .js-course:last-child {
  margin-bottom: 0;
}

.Works .js-course > *:not(img) {
  min-width: 190px;
  margin-bottom: 8px;
}

.Works .js-course img {
  height: 140px;
  width: auto;
  float: left;
}

.Works .js-course .react-logo {
  position: relative;
  height: 200px;
}

.Works .js-course .react-logo:after {
  content: 'React JS Workshops';
  position: absolute;
  color: rgba(72, 100, 175, 0.875);
  font-weight: bold;
  font-size: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 2px 5px;
  line-height: 25px;
}



.Works .xcoin-lesson {
}
