.Works {
  color: white;
  flex-grow: 1;
  max-height: calc(100vh - 110px);
  overflow-y: auto;
}

.Works::-webkit-scrollbar-track-piece {
  background-color: rgba(99, 99, 99, 0.375);
}

.Works .shade {
  width: 100%;
  padding: 20px 0;
  background-color: rgba(99, 99, 99, 0.375);
}

.Works .course {
  animation: softFadeIn 700ms;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  background-color: rgba(210, 210, 230, 0.96875);
  border-radius: 8px;
  border: 2px solid rgb(230, 230, 250);

  color: black;

  width: 80%;
  margin: 20px auto;
  padding: 8px 0;
}

.Works .course:first-child {
  margin-top: 0;
}

.Works .course:last-child {
  margin-bottom: 0;
}

.Works .course > *:not(img) {
  min-width: 190px;
  margin-bottom: 8px;
}

.Works .course ul {
  padding: 3px;
}

.Works .course li {
  list-style: none;
  line-height: 1.25;
}

.Works .course img {
  height: 140px;
  width: auto;
  float: left;
}

.Works .course .react-logo {
  position: relative;
  height: 200px;
}

.Works .course .react-logo:after {
  content: "React JS Workshops";
  position: absolute;
  color: rgba(72, 100, 175, 0.875);
  font-weight: bold;
  font-size: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 140px;
  padding-bottom: 5px;
  line-height: 25px;
  border-bottom: 1px solid #33e;
}

.Works .course .lesson {
  padding-top: 5px;
}

.Works .links-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Works .signup-action {
  background-color: #33e;
  border-color: #33e;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  border-radius: 4px;
  padding: 6px 11px;
  margin-top: 8px;
}

.Works .xcoin-lesson {
}
